* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img, video, iframe, picture, figure {
  max-width: 100%;
  display: block;
}

form, input, select, textarea, button, label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.header {
  width: 100%;
  color: #000000;
  background: url(../img/fondo-celular1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1030px) {
  .header {
    color: #fff;
  }
}
@media (min-width: 772px) {
  .header .menu__logo, .header #menu__icon {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  }
}
.header .menu-blur {
  width: 100%;
  height: 7rem;
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
}
.header .menu {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu .menu__logo {
  font-size: 3.5rem;
}
.header .menu #menu__icon {
  font-size: 3.5rem;
}
@media (min-width: 772px) {
  .header .menu #menu__icon {
    display: none;
  }
}
.header .menu .menu__options {
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 19, 54, 0.963);
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.2s;
  z-index: 1000;
}
@media (min-width: 772px) {
  .header .menu .menu__options {
    width: 500px;
    height: 5rem;
    margin: 0;
    position: relative;
    background: rgba(0, 19, 54, 0.7490196078);
    color: #ffffff;
    justify-content: space-evenly;
    flex-direction: row;
    top: 0px;
    align-items: center;
    border-radius: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.header .menu .menu__options.active {
  top: 70px;
  right: 0;
  margin: 0 auto;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}
.header .menu .menu__list {
  width: 100%;
  padding: 1.5rem 0;
  display: block;
  cursor: pointer;
}
.header .menu .menu__list .menu-active {
  color: #00bfff;
}
@media (min-width: 772px) {
  .header .menu .menu__list {
    width: auto;
  }
  .header .menu .menu__list a:hover {
    transition: color 0.2s ease-in-out;
    color: #00bfff;
  }
}

.intro__section {
  width: 100%;
  height: 100vh;
}
@media (min-width: 1030px) {
  .intro__section {
    width: 95%;
  }
}
.intro__section .intro__article {
  width: 90%;
  margin: 0 auto;
  padding-top: 6.5rem;
  color: #ffffff;
  text-shadow: 0 10px 15px rgb(0, 0, 0);
}
.intro__section .intro__article .intro__creation-date {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
}
.intro__section .intro__article .intro__title {
  font-size: 3rem;
  margin: 6rem 0;
}
@media (min-width: 600px) {
  .intro__section .intro__article .intro__title {
    max-width: 450px;
  }
}
.intro__section .intro__article .intro__poem {
  font-size: 1.75rem;
  font-weight: 700;
  text-shadow: 0 5px 10px rgb(0, 0, 0);
}

.fishes__section {
  width: 100%;
  background: url(../img/fondo-de-mar.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 1.5rem;
}
.fishes__section .fishes__paragraph {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
  text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  font-weight: 600;
  padding: 5rem 0;
  display: flex;
  align-items: center;
}

.fishes__article {
  width: 90%;
  margin: 0 auto;
  border: 5px solid #000000;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.665);
  padding: 1rem;
}
.fishes__article .fishes__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.fishes__article .fishes__container-img {
  max-width: 450px;
  margin-bottom: 3rem;
}
.fishes__article .fishes__container-img img {
  border-radius: 1rem;
}
.fishes__article .fishes__title {
  text-align: center;
}
.fishes__article .surgeon {
  color: #506bfc;
}
.fishes__article .fishes__description {
  margin-top: -2rem;
}

/*# sourceMappingURL=style.css.map */
