.fishes__section{
    width: 100%;
    background: url(../img/fondo-de-mar.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;

    .fishes__paragraph{
        width: 90%;
        height: 250px;
        margin: 0 auto;
        font-size: 2rem;
        color: #fff;
        text-shadow: rgb(0, 0, 0) 0px 0px 10px;
        font-weight: 600;
        padding: 5rem 0;
        display: flex;
        align-items: center;
    }
}