.fishes__article{
    width: 90%;
    margin: 0 auto;
    border: 5px solid #000000;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.665);
    padding: 1rem;

    .fishes__content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .fishes__container-img{
        max-width: 450px;
        margin-bottom: 3rem;
        img{
            border-radius: 1rem;
        }
    }

    .fishes__title{
        text-align: center;
    }

    .surgeon{
        color: #506bfc;
    }

    .fishes__description{
        margin-top: -2rem;
    }
}